In [1]:
import pyodbc, json, requests
import random
import datetime
from random import randint
from random import randrange
from time import sleep
import bcrypt

In [2]:
server = 'iproject3.icasites.nl' 
database = 'iproject3' 
username = 'iproject3' 
password = 'aeedZ8u8'

EmailArray = []
NotImported = []

In [3]:
def main():
    # Open and read the file as a single buffer
    fd = open('SQL/14616-Games en consoles/CREATE Users.sql', 'r')
    sqlFile = fd.read()
    fd.close()

    sqlFileArray = sqlFile.splitlines()

    for sql in sqlFileArray:
        sql = sql.replace("Users", "Account")
        sql = sql.replace("Postalcode", "Zipcode")
        sql = sql.replace("Location", "City")
        
        print(sql)
        return

    print("klaar")

In [4]:
def phn():
    n = '0000000000'
    while '9' in n[3:6] or n[3:6]=='000' or n[6]==n[7]==n[8]==n[9]:
        n = str(random.randint(10**9, 10**10-1))
    return '06' + n[2:]

In [5]:
def runSQL(sql):
    try: 
        cursor.execute(sql)
        cnxn.commit()
    except Exception as e:
        print("runSQL: ", e)
        pass

In [6]:
def VoegTelefoonNummerToe(AccountID, Nummer, cnxn, cursor):
    try: 
        cursor.execute("INSERT INTO Phonenumber (AccountID, Phonenumber) VALUES ('"+str(AccountID)+"', '"+str(Nummer)+"')")
        cnxn.commit()
    except Exception as e:
        print("VoegTelefoonNummerToe", e)
        pass

In [7]:
def getRandomUser():
    Api = "https://randomuser.me/api/?nat=NL"
    Result = requests.get(Api)
    Json = Result.json()
        
    return Json

In [10]:
def MaakAccountAan():
    # Open and read the file as a single buffer
    file = 'SQL/14616-Games en consoles/CREATE Users.sql'
    fd = open(file, 'r')
    sqlFile = fd.read()
    fd.close()

    sqlFileArray = sqlFile.splitlines()
    count = 0
    for sql in sqlFileArray:
        original = sql
        count += 1
        cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
        cursor = cnxn.cursor()   
        print("1. Connectie gemaakt!")
        
        sql = sql.replace("Users", "Account")
        sql = sql.replace("Username", "Email,Username")
        sql = sql.replace("Postalcode", "Zipcode")
        sql = sql.replace("Location", "City")
        sql = sql.replace("Country", "CountryID")
        sql = sql.replace("VALUES", "OUTPUT INSERTED.ID VALUES")
        sql = sql.replace("VALUES ('", "VALUES ('"+ str(count) + "','")
        sql = sql.replace("'NL'", "'159'")
        sql = sql.replace("'GB'", "'242'")
        sql = sql.replace("'DE'", "'63'")
        sql = sql.replace("'BE'", "'26'")
        sql = sql.replace("'AT'", "'175'")
        sql = sql.replace("'FR'", "'76'")
        sql = sql.replace("'US'", "'241'")
        sql = sql.replace("'IT'", "'107'")    
        sql = sql.replace("'CA'", "'44'")
        sql = sql.replace("'EE'", "'69'")
        sql = sql.replace("'IN'", "'102'")


        try:
            cursor.execute(sql)
            AccountID = cursor.fetchone()[0]
            cnxn.commit()
        except Exception as e:
            cnxn.close()
            print(e)
            print("2. Connectie verbroken!")
            NotImported.append(original)
            continue
        try: 
            Json = getRandomUser()
            while True:
                if(Json['results'][0]['email'] in EmailArray):
                    Json = getRandomUser()
                else: 
                    break
                
            sleep(1)
            ## Doe je ding
            Email = Json['results'][0]['email']
            EmailArray.append(Email)
            FirstName = Json['results'][0]['name']['first']
            LastName = Json['results'][0]['name']['last']
            Password = str(Json['results'][0]['login']['password'])
            Password = Password.encode("utf-8")
            Password = bcrypt.hashpw(Password, bcrypt.gensalt())
            Street = Json['results'][0]['location']['street']['name']
            HouseNumber = Json['results'][0]['location']['street']['number']
            Country = Json['results'][0]['location']['country']
            QuestionID = randrange(10, 18)
            QuestionAnswer = Json['results'][0]['login']['salt']
            Birthday = Json['results'][0]['dob']['date']
            Blocked = 1

            sql = "UPDATE Account SET Email = '" + str(Email)+ "', Firstname = '" + str(FirstName)+ "', Lastname = '" + str(LastName)+ "', Password = '" + str(Password.decode("utf-8")) + "', Street = '" + str(Street)+ "', Housenumber = '" + str(HouseNumber)+ "', QuestionID = '" + str(QuestionID)+ "', QuestionAnswer = '" + str(QuestionAnswer)+ "', Birthdate = '" + str(Birthday[:10])+ "', Blocked = '" + str(Blocked)+ "' WHERE ID = "+ str(AccountID)
            cursor.execute(sql)
            cnxn.commit()


            Nummer = phn()
            VoegTelefoonNummerToe(AccountID, Nummer, cnxn, cursor)
            if(randrange(0, 3) == 1):
                Nummer = phn()
                VoegTelefoonNummerToe(AccountID, Nummer, cnxn, cursor)
                
                
            print("3. Account toegevoegd!")
            cnxn.close()
            
                
            print("4. Connectie verbroken!")
            print("----------------------------")
            print(" ")
                
        except Exception as e:
            cnxn.close()
            print(e)
            print("5. Connectie verbroken!")
            continue
print("Klaar")

Klaar

In [11]:
MaakAccountAan()

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.Account' with unique index 'IX_Username'. The duplicate key value is (allstarsdirect). (2601) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.Account' with unique index 'IX_Username'. The duplicate key value is (beautyzz2009). (2601) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'hamed'. (102) (SQLExecDirectW)")
5. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!

3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.Account' with unique index 'IX_Username'. The duplicate key value is (oban4me). (2601) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!

3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('22018', "[22018] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Conversion failed when converting the varchar value 'ES' to data type int. (245) (SQLExecDirectW)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('22018', "[22018] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Conversion failed when converting the varchar value 'HR' to data type int. (245) (SQLExecDirectW)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('22018', "[22018] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Conversion failed when converting the varchar value 'CN' to data type int. (245) (SQLExecDirectW)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.Account' with unique index 'IX_Username'. The duplicate key value is (wholeshare.eu). (2601) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot insert duplicate key row in object 'dbo.Account' with unique index 'IX_Username'. The duplicate key value is (willyhabets). (2601) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
2. Connectie verbroken!
1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

1. Connectie gemaakt!
3. Account toegevoegd!
4. Connectie verbroken!
----------------------------

In [12]:
print(NotImported)

["INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('allstarsdirect','','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('beautyzz2009','','Verenigd Koninkrijk','GB',98.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('oban4me','','België','BE',97.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pulso24','03430','Spanje','ES',98.4)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('retroid1','','Kroatië','HR',79.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('smallprices.eu','','China','CN',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wholeshare.eu','5037','Tilburg,Nederland','NL',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('willyhabets','3650','België','BE',84.0)"]

In [ ]:
NotImported = ["INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('aline_tanzen','68766','Duitsland','DE',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('aljan_nl','9761HG','Nederland','NL',61.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('allstarsdirect','SG90TA','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('alois65amg','4537DE','Nederland','NL',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('alt-deutschland','35713','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('amateurdetimbres','4720','België','BE',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('amorgos56','6562EB','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('amsteltoren','','Nederland','NL',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('andr8942','5300','België','BE',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('andy_corbett','DA158SU','Verenigd Koninkrijk','GB',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('andybaby62','33455','Verenigde Staten','US',90.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('anelin3','89190','Frankrijk','FR',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('angloamericanappraisal','10025','Verenigde Staten','US',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('anlofran','1853','België','BE',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ann1935horses','BD209BU','Verenigd Koninkrijk','GB',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('annettespostzegelhop','7760AA','Nederland','NL',99.2)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('antiktharandt09','01737','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('antiquemonnaie','81100','Frankrijk','FR',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('aquarius271957','47023','Italië','IT',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('aras100','5706TJ','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('arnsbergbc','59757','Duitsland','DE',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('arserpent','02143','Verenigde Staten','US',73.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('artpcollections','','Frankrijk','FR',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('athemin','1970','België','BE',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('axlslash87','TA246NU','Verenigd Koninkrijk','GB',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ayr41','','Verenigd Koninkrijk','GB',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('azuckuss','CV24AH','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bagijntje','','Nederland','NL',98.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('barginsareus24','B440TE','Verenigd Koninkrijk','GB',99.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bauer4723','86161','Duitsland','DE',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bayemi','1074AK','Nederland','NL',62.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('beautyzz2009','','Verenigd Koninkrijk','GB',98.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('belltry1','','Verenigd Koninkrijk','GB',58.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bentleyjenny','6511RC','Nederland','NL',73.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bernard2005paars','1000','België','BE',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bernie4stamps','IM51UA','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('beth65','28469','Verenigde Staten','US',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bigge244','5683DZ','Nederland','NL',74.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bkstamp','2741EK','Nederland','NL',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('blausaarspezi','66571','Duitsland','DE',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bleuroy85100','85100','Frankrijk','FR',99.4)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('blinddruck','49811','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bluejanette','CT162NF','Verenigd Koninkrijk','GB',67.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bluevivaldi','1150','België','BE',98.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bmkraabe','04668','Duitsland','DE',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('boelegd','1325XA','Nederland','NL',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bombero47','9050','België','BE',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bonpiedbonoeil075','58320','Frankrijk','FR',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bontenpeer','4711PD','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('boomer1pucky','6921XB','Nederland','NL',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('borre52','4201GX','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('boskabouter2009','7447AP','Nederland','NL',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bosstamps','6708SL','Nederland','NL',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bouvier_48','6690','België','BE',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('boyh_nl','6031XN','Nederland','NL',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bramsfeld5','53639','Duitsland','DE',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bridgerkay','BS405BD','Verenigd Koninkrijk','GB',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('briefplezier','2415AA','Nederland','NL',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('briemane','22087','Duitsland','DE',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('brouwhof','3332NG','Nederland','NL',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('brumstamp','','Verenigd Koninkrijk','GB',59.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bugymert','B688SA','Verenigd Koninkrijk','GB',90.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('bungalowstamps','98407','Verenigde Staten','US',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('burg8859','4844CW','Nederland','NL',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('calaminois','1000','België','BE',99.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('canadiangemstamps','M8V3G6','Canada','CA',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cardcrayzi1','SY78JW','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('carelbuhrs','1098PD','Nederland','NL',86.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('carpe-diem-stamps','2565SX','Nederland','NL',97.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cartepostaleva','','Frankrijk','FR',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('carterh','J4W3K8','Canada','CA',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('casey5351','3208CM','Nederland','NL',99.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cat-4363','4700','België','BE',94.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('caussephil','81440','Frankrijk','FR',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cdma59','59000','Frankrijk','FR',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cf11100','1400','België','BE',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('chadecosse','DD109JF','Verenigd Koninkrijk','GB',83.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cheerful.37','CO28BA','Verenigd Koninkrijk','GB',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('chezmarc','73000','Frankrijk','FR',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('chouille13','7864','België','BE',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cilko-stamps','3051NA','Nederland','NL',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('citystampmontreal','H3B1H4','Canada','CA',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('clammyruffle1','E49RB','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cllrsteve','WD187SR','Verenigd Koninkrijk','GB',79.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cmoonen','2035BA','Nederland','NL',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cojbe2014','7012','België','BE',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('collection57100','57100','Frankrijk','FR',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('collectura','2518','''s-Gravenhage,Nederland','NL',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('colletor60','2719MD','Nederland','NL',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('computerbeertje','2100','België','BE',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('corndonman','SY156DA','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('corpogs','2165','Lisserbroek,Nederland','NL',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('coversandcollectables2','BS227FB','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('coversoftheworld','HA53TB','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cpapost','08120','Frankrijk','FR',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('crafter19_41','02302','Verenigde Staten','US',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('croata','','Kroatië','HR',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('csaxon64','','Duitsland','DE',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cst5000','','Verenigd Koninkrijk','GB',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ctcsports','92545','Verenigde Staten','US',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cubaonmymind','3011XZ','Nederland','NL',83.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cumbrianlaika','','Nederland','NL',62.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cv-9','2221WH','Nederland','NL',73.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('cyclamon','','Verenigd Koninkrijk','GB',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('d.s.','','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('da_faber1f4i','8926','Leeuwarden,Nederland','NL',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('dalwyn','BR12RE','Verenigd Koninkrijk','GB',58.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('dammen28','3241GK','Nederland','NL',99.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('danhee-2009','','België','BE',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('daro-treinen','2150','België','BE',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('davenport00','CF51HW','Verenigd Koninkrijk','GB',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('daws01us','E146LN','Verenigd Koninkrijk','GB',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('de_noot','2051HJ','Nederland','NL',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('debetondorper','1097','Amsterdam,Nederland','NL',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('denduijn','2403JL','Nederland','NL',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('depauwivan','9070','België','BE',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('derbyandyorks','SK132AR','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('deveney17','V2A2P8','Canada','CA',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('dhoefelmeier','49610','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('disc-covery','FK77UX','Verenigd Koninkrijk','GB',73.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('djmkerr-stamps','','Verenigd Koninkrijk','GB',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('dmer14','6717','België','BE',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('dnmeathrel','WD174UD','Verenigd Koninkrijk','GB',73.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('doggydreamers','BN37JU','Verenigd Koninkrijk','GB',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('domainnetworks','','Duitsland','DE',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('donbram','4834TB','Nederland','NL',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('donna.stamps','N52NN','Verenigd Koninkrijk','GB',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('dragons.crypt08','08210','Frankrijk','FR',99.4)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('e_v_a333','2440','België','BE',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('eaglefila','208001','India','IN',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('easy-stamp','8921TJ','Nederland','NL',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('eclectic-mix-uk','','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('editie007','','Nederland','NL',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('eduardo779','2650','België','BE',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('eduardo-filatelie','2650','België','BE',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('elenateo','H4H2K1','Canada','CA',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ellbell1091','HU179HN','Verenigd Koninkrijk','GB',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('emartenet','','Verenigd Koninkrijk','GB',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('emilio642','1318CD','Nederland','NL',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('enrico60','81667','Duitsland','DE',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('erbu2001','','Nederland','NL',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('eren3049','W43DF','Verenigd Koninkrijk','GB',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ericus9266','06210','Frankrijk','FR',99.2)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ernesto7515','20144','Verenigde Staten','US',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('eros768','76890','Frankrijk','FR',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('esghir','34970','Frankrijk','FR',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('esslemontlucy','G149AA','Verenigd Koninkrijk','GB',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('europoel','1441ZZ','Nederland','NL',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('eurostocks0','','Griekenland','GR',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('euroventer','8000','België','BE',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('evykes','','Verenigde Staten','US',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('fabrizio.bignotto','37047','Italië','IT',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('faence','','Verenigd Koninkrijk','GB',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ferrandofila','1180','Oostenrijk','AT',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('fil_mag','9240','België','BE',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('fila.munt','9140','België','BE',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('filatelie-ward','2650','België','BE',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('filatoko','5038TV','Nederland','NL',96.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('firstdaycovers','FK147JH','Verenigd Koninkrijk','GB',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('flip1994','49843','Duitsland','DE',61.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('flophil84','84270','Frankrijk','FR',74.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('florijn04','2401','Alphen aan den Rijn,Nederland','NL',61.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('focusbert','9060','België','BE',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('foreverblue54','','Verenigd Koninkrijk','GB',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('formule1ffilc','9700','België','BE',98.1)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('forthclyde','M187TG','Verenigd Koninkrijk','GB',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('fragola12','15100','Italië','IT',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('franspieter123','2037KA','Nederland','NL',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('freeway_67','2625','Delft,Nederland','NL',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('friesland-stamp','8921TJ','Nederland','NL',67.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ft1502','1500','België','BE',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('fundus2011','83395','Duitsland','DE',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gaet4000','18800','Frankrijk','FR',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('galerie-lithique','37160','Frankrijk','FR',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gdanzer115','60174','Verenigde Staten','US',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('geertqua','8800','België','BE',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('geertzen','3466','Waarder,Nederland','NL',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('george_alevizos','90290','Verenigde Staten','US',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gerdeeagle','3077AC','Nederland','NL',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gerrybonte','8780','België','BE',92.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gert.op.bay','','Nederland','NL',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('getmecollectiblesllc','55411','Verenigde Staten','US',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gewuerth','','Duitsland','DE',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gileroz09','BT411ST','Verenigd Koninkrijk','GB',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gillesf3','83790','Frankrijk','FR',79.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('goebelzoekers','6932BG','Nederland','NL',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('goldhahn_de','63165','Duitsland','DE',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('golfstaaten-philatelie','97209','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gos5','1036KN','Nederland','NL',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('goufficio','60125','Italië','IT',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gr273','','Nederland','NL',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('grampystamps','CF53QL','Verenigd Koninkrijk','GB',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('grathan','YO325PH','Verenigd Koninkrijk','GB',98.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gravendeel','3295LD','Nederland','NL',61.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('greencott','','Verenigd Koninkrijk','GB',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('groenlila234','2991WC','Nederland','NL',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('guardian20235','V2X2P5','Canada','CA',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('guenter.habich','76684','Duitsland','DE',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('guyvs','1750','België','BE',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gvq44','44600','Frankrijk','FR',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('gwverdis','9112','België','BE',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ha7667','9501VE','Nederland','NL',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('haansberg','6443BJ','Nederland','NL',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hadersbeck.berlin','10243','Duitsland','DE',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hagan88','30157','Verenigde Staten','US',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hajogeur','4824JJ','Nederland','NL',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hans6075','ST72HX','Verenigd Koninkrijk','GB',98.2)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hansboeken13','1357PR','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hansephila_de','28195','Duitsland','DE',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hanserl1','','Oostenrijk','AT',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('happybear123','','Canada','CA',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('happystampman_nl','5481VS','Nederland','NL',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hardiman888','TQ45AU','Verenigd Koninkrijk','GB',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('harrysmum010','LA96PT','Verenigd Koninkrijk','GB',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hausderbriefmarke','64297','Duitsland','DE',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hawkwolf','2548EC','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hein3365','4921ZC','Nederland','NL',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('helmonder7','41372','Duitsland','DE',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('henk.0135','5038PR','Nederland','NL',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('henk9218','1601JL','Nederland','NL',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hestatesltd','CF729UJ','Verenigd Koninkrijk','GB',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hidde60','1333ZS','Nederland','NL',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('highbanks66','BS395TH','Verenigd Koninkrijk','GB',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('histoirepostale83','83000','Frankrijk','FR',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('historypost','76530','Duitsland','DE',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hobby-2k','2440','België','BE',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hollandmarken','','Nederland','NL',0.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hol-wel','8196KA','Nederland','NL',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('hopshoof','9661TL','Nederland','NL',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('houbastamps4all','6707EB','Nederland','NL',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('house_of_stamps_67','67150','Frankrijk','FR',98.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('inumis','75002','Frankrijk','FR',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('invest-junkshop','48231','Duitsland','DE',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('itforbiz','','Verenigd Koninkrijk','GB',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jaamr48','6711HS','Nederland','NL',86.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jaapencorina','8307AH','Nederland','NL',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jacktheroyaldutchman','1472GE','Nederland','NL',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jackylegrain','7500','België','BE',59.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jacobuskoet','2803LP','Nederland','NL',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jacques19','2725EN','Nederland','NL',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jacquesapc','1150','België','BE',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jagsfanjack','','Verenigd Koninkrijk','GB',83.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jamesandhatty','','Verenigd Koninkrijk','GB',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('janemp412','ST195RU','Verenigd Koninkrijk','GB',97.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('japaust','3231CJ','Nederland','NL',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jarejama2003','1433DB','Nederland','NL',62.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jb-collections','3332EK','Nederland','NL',74.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jcauchi','94087','Verenigde Staten','US',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jefe1802','2300','België','BE',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jguyolivier10','G6P9M5','Canada','CA',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jjdclassicstamps','8926','Leeuwarden,Nederland','NL',67.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jmcbride667','EH549EW','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('johan-martijn','9853TC','Nederland','NL',90.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('johnp5805','IP171WU','Verenigd Koninkrijk','GB',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('johntalman','','Canada','CA',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jokevandenberg','2811SG','Nederland','NL',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jonase027','8820','België','BE',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('joncas45','S358PA','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jonny60_nl','3762EX','Nederland','NL',99.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('joost706','7328BT','Nederland','NL',99.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jorhanstamps','2851','Haastrecht,Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jorika2013','6433BP','Nederland','NL',99.1)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('josvangent','7328','Apeldoorn,Nederland','NL',59.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jovil0','6740','België','BE',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('joystamps','CB214NP','Verenigd Koninkrijk','GB',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jschin1','47807','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('jur-collect','2105RB','Nederland','NL',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('k9pud','TD97JH','Verenigd Koninkrijk','GB',90.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kaj3','3328AD','Nederland','NL',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kamalmedicine','421302','India','IN',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('karel7543','6661PL','Nederland','NL',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('karen8743','MK43AP','Verenigd Koninkrijk','GB',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kautzcollect','3441XJ','Nederland','NL',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kavismm','96746','Verenigde Staten','US',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kay113548gw','29910','Verenigde Staten','US',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kdehoop','','Nederland','NL',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kees0351','3862MJ','Nederland','NL',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kennysimo2811','M436FU','Verenigd Koninkrijk','GB',99.1)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kenulf','GL545NF','Verenigd Koninkrijk','GB',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kevinsstamps','','Canada','CA',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('keyholekate1954','BH26PN','Verenigd Koninkrijk','GB',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kingswood-stamps-and-postcards','KT206RD','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('klokkie.033','3862XG','Nederland','NL',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('komondorgraf-treuhand','97246','Duitsland','DE',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kornenbourg75','27180','Frankrijk','FR',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('koster.g','2718KE','Nederland','NL',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('kraaitje','1771GV','Nederland','NL',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('la_loupe-cpa','19240','Frankrijk','FR',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lalaoeta','4207NA','Nederland','NL',99.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lalleylarlar','CM201QF','Verenigd Koninkrijk','GB',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lambertf1954','1000','België','BE',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lampi2222','64846','Duitsland','DE',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lan20cia','','Nederland','NL',58.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lancashire-stampman','FY81LE','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lanno_nl','6041BL','Nederland','NL',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('laurent83140','83140','Frankrijk','FR',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('leendertsz','','Nederland','NL',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('leeuwarder1918','8921TJ','Nederland','NL',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lenneplaan15','4703CH','Nederland','NL',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lia1936','8020','België','BE',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('licytator2','','Frankrijk','FR',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lieblich66','77716','Duitsland','DE',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lieven79','1742','België','BE',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('linoows01','','Duitsland','DE',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('lisebo1','2845','België','BE',58.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('london-stamps','E29WN','Verenigd Koninkrijk','GB',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('luc2643','9041','België','BE',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ludizorey','28200','Frankrijk','FR',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('m.esmaili','11375','Verenigde Staten','US',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('maarten0912','','Nederland','NL',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mac_olive','2400','België','BE',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('madalon2014','9120','België','BE',61.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('madloose','02035','Verenigde Staten','US',67.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('madmack001','64624','Verenigde Staten','US',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('magni_fr','52800','Frankrijk','FR',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('magrevues','59261','Frankrijk','FR',98.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mailbyrail','','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('maldives96.2012','E181LY','Verenigd Koninkrijk','GB',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('malorie57','57600','Frankrijk','FR',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mandi1shop','NP182DZ','Verenigd Koninkrijk','GB',98.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('manthamvns','600092','India','IN',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('maples-marvels','','Verenigd Koninkrijk','GB',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('marcosan65','9290','België','BE',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mardomi','6371','Landgraaf,Nederland','NL',96.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('maren-2','00179','Italië','IT',62.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('marl-bks','P1B1N4','Canada','CA',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('marnix22','7553LC','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mary182','RH163SR','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('masschka','51510','Frankrijk','FR',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mattia1259','L4B3R6','Canada','CA',62.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('max1960-2007','40054','Italië','IT',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mayfair99','54942','Verenigde Staten','US',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mdl08','9240','België','BE',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mh-mauritius','','Duitsland','DE',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mhstoke','ST45HS','Verenigd Koninkrijk','GB',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mia19472','','België','BE',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mickyboo2a','NW54PQ','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mikeciren','GL71LE','Verenigd Koninkrijk','GB',90.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('minderhout238zas','2651','Berkel en Rodenrijs,Nederland','NL',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('miro-antik2012','07749','Duitsland','DE',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mk-stamps','50733','Duitsland','DE',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('modelcarcorner','59368','Duitsland','DE',99.2)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mondial-postzegelveiling-deventer','8124AG','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('monikarosen','86807','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('monnaierive-nord','J7G2J4','Canada','CA',92.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('monsu-251','7012','België','BE',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('mrbentley22','HU192JZ','Verenigd Koninkrijk','GB',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('msierink','6708SB','Nederland','NL',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('muenzhandel_wichmann','31787','Duitsland','DE',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('muerai','81549','Duitsland','DE',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('multicol71','29570','Frankrijk','FR',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('multihouse','','Nederland','NL',99.1)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('murraypayneltd','BS262EW','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('muyuusa168','10013','Verenigde Staten','US',58.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('myphila01','5467DA','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nb-numismatics','','België','BE',98.2)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nielsvdvliet85','2902HW','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('niknax1','','Verenigd Koninkrijk','GB',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nilatesi','5101VP','Nederland','NL',83.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nilkakiwi','1350','België','BE',98.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nina0009','5100','België','BE',98.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nith-collections','DG11JU','Verenigd Koninkrijk','GB',59.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nls','56273','Verenigde Staten','US',83.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nncollections','','Frankrijk','FR',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nononani','7180','België','BE',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nookie0_2','5126TN','Nederland','NL',90.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('norbertdw38','1850','België','BE',94.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('northstamp','07044','Verenigde Staten','US',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('notobranchius','2132EG','Nederland','NL',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('nuggets_factory','','Frankrijk','FR',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('numidio2009','00173','Italië','IT',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('numismatiquealain','59450','Frankrijk','FR',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('oban4me','','België','BE',97.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('oleksii2005','20052','Italië','IT',98.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('onebacchanalian','74129','Verenigde Staten','US',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('onscarol','2520','België','BE',86.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('openbinders','48603','Verenigde Staten','US',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('osdo2010','1191RL','Nederland','NL',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ostnew','8620','België','BE',0.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ostrichard','','Nederland','NL',59.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('parsifal1966','2906XR','Nederland','NL',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('passionnata_girl','','Frankrijk','FR',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('patarcadius','70280','Frankrijk','FR',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('paulinema','AL71DB','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pavcruch6922lux','7012','België','BE',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pcarena-bristol','','Verenigd Koninkrijk','GB',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pce122','2622GP','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pdcollectables2010','BH119RN','Verenigd Koninkrijk','GB',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pede.2007','9041','België','BE',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('perforations','K2A2E4','Canada','CA',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pete-birks','M415QH','Verenigd Koninkrijk','GB',99.2)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('peter061965','3845DC','Nederland','NL',86.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('peter061965extra','3845DC','Nederland','NL',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('phil_ately','DH87DQ','Verenigd Koninkrijk','GB',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('phil0164','HU170NR','Verenigd Koninkrijk','GB',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('phila_nl','9753JE','Nederland','NL',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('philastore030','10707','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('philatelie-dietrich','41334','Duitsland','DE',62.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('philatelistmishra','208012','India','IN',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('philhaty','B920PU','Verenigd Koninkrijk','GB',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('philindia02','208001','India','IN',99.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('philjoker','61462','Duitsland','DE',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pieternico','9744HS','Nederland','NL',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pinoduvel','2841AV','Nederland','NL',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pj-stamps','','Nederland','NL',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pkc7','42781','Duitsland','DE',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('plado48','2624JD','Nederland','NL',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('plampie1974','7421EP','Nederland','NL',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('platflinder','1963SB','Nederland','NL',76.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('playpenphilatelics','IP209DY','Verenigd Koninkrijk','GB',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pluristore2009','80017','Italië','IT',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('poloblade','11520','Verenigde Staten','US',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ponche100','44577','Duitsland','DE',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('portzegel-roltandingshop','1054VJ','Nederland','NL',73.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postcenter-x','9112','België','BE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postchina','3161LJ','Nederland','NL',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postenkaufen','56470','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postzegelduifje','5632KX','Nederland','NL',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postzegelhandel_inverted_jenny','4812LT','Nederland','NL',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postzegelpeet2011','3078VP','Nederland','NL',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postzegelschaker','9000','België','BE',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('postzslh','3650','België','BE',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ppstamps69','','Nederland','NL',65.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('prof222','93413','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('prophila','','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('put-it-in-a-box','ST50PN','Verenigd Koninkrijk','GB',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pv195993','93170','Frankrijk','FR',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pyjz1','1065AP','Nederland','NL',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('pzh-ronherscheit','6950AA','Nederland','NL',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('r.van.kleven','5121EJ','Nederland','NL',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rainers-briefmarkenlaedchen','36396','Duitsland','DE',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rainyday12','DH15JL','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ray0840','5100','België','BE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('raystampsshop','8400','België','BE',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('reesus','CF119HX','Verenigd Koninkrijk','GB',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rialto123','31061','Duitsland','DE',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ricardo_1969','74626','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rico2005manta2700','2552AD','Nederland','NL',97.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ricosteeg','2645MD','Nederland','NL',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rissmannssammlerwelt','79189','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rmedwardsstamps','','Verenigd Koninkrijk','GB',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rob.stamps','E143UU','Verenigd Koninkrijk','GB',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('robertpeter_nl','','Nederland','NL',99.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('robinphila','11364','Verenigde Staten','US',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rodegolf777','7545HK','Nederland','NL',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('roeslers-schatzinsel','68163','Duitsland','DE',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('roland0184','3362BS','Nederland','NL',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rolbog2704','','Nederland','NL',72.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('roman_ivan','8500','België','BE',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('romon1940','3520','België','BE',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ronaldstamps','6708LC','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ronaldus8','3452AN','Nederland','NL',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('roosem','1851CG','Nederland','NL',61.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('roscod*hondt','2037KA','Nederland','NL',100.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rossimad','','Verenigd Koninkrijk','GB',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rossshiells','','Verenigd Koninkrijk','GB',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rosta_nl','1082SM','Nederland','NL',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rougoor','3844','Harderwijk,Nederland','NL',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rsmp17','302001','India','IN',79.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rudybos','K1C4N7','Canada','CA',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('rushstamps','','Verenigd Koninkrijk','GB',79.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sachsendreier58','39218','Duitsland','DE',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sajs51','PE134RR','Verenigd Koninkrijk','GB',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('saltdeanstamps','BN28LJ','Verenigd Koninkrijk','GB',92.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sammelkrams','50169','Duitsland','DE',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('samshuijzen','3077ZE','Nederland','NL',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sanctart','34260','Frankrijk','FR',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sarumstamps','SP27RB','Verenigd Koninkrijk','GB',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('saskconnection','','Canada','CA',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('scandyss','NR70HJ','Verenigd Koninkrijk','GB',81.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('schokakola1941','71263','Duitsland','DE',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('schore2','85221','Duitsland','DE',87.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('schwarzenbach-philatelie','91413','Duitsland','DE',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('scificollectoratthestampcentre','','Verenigd Koninkrijk','GB',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('scott_philatelics','LE99JJ','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('scottinvirginia','22980','Verenigde Staten','US',83.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('seamsits','S638LQ','Verenigd Koninkrijk','GB',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('seekuh100','57299','Duitsland','DE',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('selling-my-collection','DH61RJ','Verenigd Koninkrijk','GB',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sero815','','Duitsland','DE',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('shaman49','5340','België','BE',99.4)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('shduck.com','77079','Verenigde Staten','US',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('silverbyrd','30102','Verenigde Staten','US',74.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sloothaak','','Nederland','NL',97.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('slospale','1861EC','Nederland','NL',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sportster','B4E3A1','Canada','CA',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ssalaska33','99737','Verenigde Staten','US',66.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stamp-direct','3263','Oud Beijerland,Nederland','NL',58.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stamper635','','Canada','CA',60.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stamphorder','LE21ZA','Verenigd Koninkrijk','GB',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stampland_a4','','Nederland','NL',70.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stampman12313','1831','België','BE',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stampplanet_hungary','7511MJ','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stampsbyjamie','B202LP','Verenigd Koninkrijk','GB',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stampshennie','1771GV','Nederland','NL',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stampsky','','Canada','CA',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stempeltje','4385HK','Nederland','NL',96.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stephone60','60790','Frankrijk','FR',74.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stistamps','110051','India','IN',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('stockinplace','CT103DB','Verenigd Koninkrijk','GB',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sugarbabies55','45431','Verenigde Staten','US',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('suzywi','1850','België','BE',98.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('suzywi3405','1850','België','BE',98.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('sweep1232012','OX109GF','Verenigd Koninkrijk','GB',74.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('t4651','2693AB','Nederland','NL',56.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tabithatoes','BB27EX','Verenigd Koninkrijk','GB',75.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tagula_blue','RH122EE','Verenigd Koninkrijk','GB',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tausend-dinge-weltweit','70563','Duitsland','DE',89.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tavdb','2802GC','Nederland','NL',79.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('termondes','9100','België','BE',0.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('thebesthobby','700039','India','IN',80.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('theo19432','8660','België','BE',95.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('theo19460906','3222CT','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('theov856','2590','België','BE',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('thesunshinebookshop2014','SK144UQ','Verenigd Koninkrijk','GB',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('thijst','','Nederland','NL',77.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tieric7','07200','Frankrijk','FR',98.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('timbres38','4020','België','BE',84.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('timbstamp','','Nederland','NL',82.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tkscollecting','B3K4P6','Canada','CA',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('toeterke','2920','België','BE',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('toniopostzegels','9204EH','Nederland','NL',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tonyz900','BT323EA','Verenigd Koninkrijk','GB',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('topicalcollector','T2W4G6','Canada','CA',99.2)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('topicanimals','','Nederland','NL',0.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('torrry','','Duitsland','DE',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('toutalire','16210','Frankrijk','FR',98.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('towndweller','5025HC','Nederland','NL',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('trav471','','Verenigd Koninkrijk','GB',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('troie0','17250','Frankrijk','FR',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('tweedhouse1889','','Verenigd Koninkrijk','GB',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('uanta15','','Verenigd Koninkrijk','GB',97.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ukalchemist','TS179NH','Verenigd Koninkrijk','GB',67.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('ulit','','Duitsland','DE',68.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('unionstamps100','','Verenigde Staten','US',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('upa-global','GL543HE','Verenigd Koninkrijk','GB',79.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('urgnani1961','25036','Italië','IT',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('usps','','Verenigde Staten','US',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vaarkoning','7531HR','Nederland','NL',99.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vaike-s','','Estland','EE',94.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('valivalo92','92600','Frankrijk','FR',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('valleymeatshamva','BS207AN','Verenigd Koninkrijk','GB',67.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vanachteren2020','49632','Duitsland','DE',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('varisell','85269','Verenigde Staten','US',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vassyv','26300','Frankrijk','FR',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('verzamelaarsmarkt','3286BW','Nederland','NL',90.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('verzameltoon','5280AH','Nederland','NL',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vincentcollectables-uk','SS165EE','Verenigd Koninkrijk','GB',86.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vintageclick-uk','DE150SJ','Verenigd Koninkrijk','GB',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vioara37','34110','Verenigde Staten','US',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vogel1946','7103GD','Nederland','NL',88.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('volley95','24045','Italië','IT',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('voorsterphilatelie1','6361ET','Nederland','NL',97.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('vuurkeel','3993CB','Nederland','NL',99.9)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('watfordstamps','WD174UD','Verenigd Koninkrijk','GB',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wbamike','L1N4H9','Canada','CA',71.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('webuystamps','B927EF','Verenigd Koninkrijk','GB',99.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('welovestamps','ST161TT','Verenigd Koninkrijk','GB',83.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wenzig11','51580','Duitsland','DE',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('whalja','5704JH','Nederland','NL',99.8)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('whitepeakplodder','','Verenigd Koninkrijk','GB',74.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wholeshare.eu','5037','Tilburg,Nederland','NL',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('whs47','RG196HX','Verenigd Koninkrijk','GB',57.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wijsaampjes','3315GD','Nederland','NL',93.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wild_rose_stamps','T9H0A3','Canada','CA',91.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('willemjijook','4873BS','Nederland','NL',94.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('william-stamps','1328NA','Nederland','NL',67.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('willyhabets','3650','België','BE',78.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wimheuvel','3232AA','Nederland','NL',85.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('windinghouse','OX294EW','Verenigd Koninkrijk','GB',63.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wingerden1976','2171KL','Nederland','NL',99.7)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('wkuhnphila','88267','Duitsland','DE',61.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('www-loic-paradise-com','69540','Frankrijk','FR',98.3)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('yveslerouge','94200','Frankrijk','FR',99.5)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('yvonc_nl','5374','Schaijk,Nederland','NL',64.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('zbiggy99','PR97JY','Verenigd Koninkrijk','GB',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('zephyrcat5','37101','Verenigde Staten','US',99.6)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('zeus11*','84321','Verenigde Staten','US',69.0)", "INSERT Users (Username,Postalcode,Location,Country,Rating) VALUES ('zidanestamps11','2871AK','Nederland','NL',76.0)"]

In [9]:
NotImported = []

In [13]:
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [14]:
cursor.close()